# .NET
bin/
obj/
*.user
*.suo
.vs/

# Migrations build outputs (NO ignorar el código de Migrations/)
# Migrations/ se commitea, es código fuente

# EF tools
*.dbmdl
*.jfm

# Angular / Node
node_modules/
dist/
.angular/
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secretos / configs locales
appsettings.Development.json
appsettings.Local.json
.env
.env.local

# Imagenes subidas por usuarios (no versionar el contenido, si las carpetas)
backend/ConnectHub.API/wwwroot/uploads/**
!backend/ConnectHub.API/wwwroot/uploads/
!backend/ConnectHub.API/wwwroot/uploads/posts/
!backend/ConnectHub.API/wwwroot/uploads/avatars/
!**/.gitkeep
